/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------- MAIN STYLING --------- */

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555;
}

.container {
  max-width: 800px;
  margin: auto;
	padding: 0 30px;
}

h1 {
  font-weight: 300;
  text-align: center;
  font-size: 2.5em;
}

header {
  border-bottom: 1px solid #AAA;
  padding: 20px 0;
  margin-bottom: 30px;
}

/* --------- index --------- */

.todo {
  padding: 20px 25px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
	display: flex;
	align-items: center;
}

.checkbox {
	margin-right: 10px;
}

.new-form {
	display: inline-block;
}

/* --------- show --------- */

h2 {
	margin-top: 20px;
	font-size: 2em;
	font-weight: 600;
}

/* --------- Colors --------- */

.blue {
  background: #3498db;
  color: white;
  transition: background-color 0.3s;
}

.blue:hover {
  background: #50a6e1;
}

.green {
	background: #16a085;
	color: white;
	transition: background-color 0.3s;
}

.green:hover {
	background: #1abe9e;
}

.red {
	background: #d65548;
	color: white;
}

.red:hover {
	background: #dc6f64;
}
/* --------- Shadow --------- */

.box-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  transition: box-shadow 0.3s;
}

.box-shadow:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.22);
}

/* --------- General --------- */

button {
	border: none;
	padding: 15px 20px;
	border-radius: 15px;
	margin: 20px 0;
	cursor: pointer;
	font-size: 1em;
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

input[type=text] {
	border: none;
	font-size: 1em;
	padding: 10px 0px;
	border-bottom: 1px solid #AAA;
	outline: none;
	width: 80%;
	max-width: 300px;
}

/* ---------- alert ---------- */
.alert-info {
	color: #16a085;
}
