html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #555;
}

.container {
  max-width: 900px;
  margin: auto;
}

h1 {
  font-weight: 300;
  text-align: center;
}

header {
  border-bottom: 1px solid #AAA;
}
